.idea
.classpath
.project
.settings
.spriingBeans
.factorypath
target/
build/
.m2
.gradle
Thumbs.sb
Icon?
ehthumbs.db
.DS_Store
*.log
*7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.so